.custom-button-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: #e0e0e0;
    background-color: #9A1CEB;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.custom-button:last-child {
    margin-bottom: 0;
}

.custom-button:hover {
    background-color: #9A1CEB;
}

.custom-button .icon {
    margin-left: 10px;
    font-size: 24px;
}
